<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CityTemp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div style="text-align:center;">
        <h3>Show the current temperature of a city:</h3>
        <form class="form-inline" action="/search" method="get">
            <div class="form-group">
                <input type="text" class="form-control" style="width:40em;" placeholder="Search" name="city">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
    <div style="text-align:center;">
        <h3><p th:text="'Temperature (' + ${cityname} + '): ' + ${temp} + ' &#8451;'" /></h3>
    </div>
</div>
</body>
</html>